/* 
    css : cascading style sheet
    html에 <style>을 모두 적으면 너무 길어져서 분리
*/

.container {
  display: flex;
  gap: 10px;
  width: fit-content;
  margin: auto;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-image {
  width: fit-content;
  height: fit-content;
}
.profile-image > img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.profile-nickname {
  font-weight: bold;
}
.hour {
  color: #9a9494;
  font-weight: bold;
  font-size: 13px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.contents {
  font-weight: 500;
}

img {
  width: 270px;
  height: 250px;
}
